* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);

  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column-list {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  text-align: left;
}

.column {
  padding: 2.5rem;
}

.column--sedans {
  background-color: var(--Bright-orange);
  color: var(--Bright-orange);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.column--sedans::before {
  content: url(./images/icon-sedans.svg);
}

.column--suvs {
  background-color: var(--Dark-cyan);
  color: var(--Dark-cyan);
}

.column--suvs::before {
  content: url(./images/icon-suvs.svg);
}

.column--luxury {
  background-color: var(--Very-dark-cyan);
  color: var(--Very-dark-cyan);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.column--luxury::before {
  content: url(./images/icon-luxury.svg);
}

.heading {
  font-family: "Big Shoulders Display", cursive;
  color: var(--Very-light-gray);
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  padding: 2rem 0;
}

.paragraph {
  color: var(--Transparent-white);
  max-width: 24rem;
  line-height: 1.5;
}

.btn {
  background-color: var(--Very-light-gray);
  color: inherit;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 36px;
  border: 2px solid transparent;
  margin-top: 2rem;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid var(--Very-light-gray);
  color: var(--Very-light-gray);
  cursor: pointer;
}

@media (min-width: 1100px) {
  body {
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .column-list {
    max-width: 60rem;
    flex-direction: row;
    width: 61%;
  }

  .column--sedans {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
  }

  .column--luxury {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 8px;
  }

  .paragraph {
    height: 12rem;
  }

  .btn {
    margin-top: 0;
  }
}
